<div class="container">
<section><h6>Tecnologías aplicadas y conocimientos 

    <a style="color: #D2D7D5;" class="btn" data-placement="top" data-origina-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>

    <a style="color: #D2D7D5;" class="btn" data-placement="top" data-origina-title="Add"><i class="fa-regular fa-square-plus"></i></a>
</h6>
    <!-- INTENTO DE GRAFICO DE PROGRESO CIRCULAR, VA CON EL CSS COMENTADO 
    
        <div class="row col-2 progress d-flex rounded-circle" id="redondel-progreso">
        <div class="bg-dark rounded-circle col-1" id="id-progreso"><span>CSS</span></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progreso-cantidad" style="width: 50%;">
            </div>
    
    </div>-->

    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1DF9BA'"
    [innerStrokeColor]="'#397DFC'"
    [animation]="true"
    [animationDuration]="300"
  >
</circle-progress>

<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#1DF9BA'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
[subtitle]="'title'"
[subtitleColor]="'red'"
[subtitleFontSize]="'18'"
>
</circle-progress>

<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#1DF9BA'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
>
</circle-progress>


    <div class="row">
    </div> <BR>
    <span><H6>Idiomas</H6></span>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><b>Inglés</b></div> <br>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><b>Alemán</b></div> <br>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><b>Español</b></div> <br>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><b>Francés</b></div> <br>
        </div>
    </section>
        <hr>
    </div>