<div class="container">
<section><h6>Tecnologías aplicadas - progress bar </h6>
    <!-- INTENTO DE GRAFICO DE PROGRESO CIRCULAR, VA CON EL CSS COMENTADO -->
    
        <div class="row col-2 progress d-flex rounded-circle" id="redondel-progreso">
        <div class="bg-dark rounded-circle col-1" id="id-progreso"><span>CSS</span></div>
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="progreso-cantidad" style="width: 50%;">
            </div>
    
    </div>
    <div class="row">
    <span> LAS CIRCULAR PROGRESS BAR LAS VAMOS A DEJAR PARA HACERLAS EN <BR>ANGULAR DIRECTAMENTE O BIEN PODEMOS HACERLAS CON easypiechart (JS)</span> mientras tanto vamos con las barras de idioma</div> <BR>
    <span><H6>IDIOMAS</H6></span>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><b>Inglés</b></div> <br>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"><b>Alemán</b></div> <br>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><b>Español</b></div> <br>
        </div><br>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated col-6" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"><b>Francés</b></div> <br>
        </div>
    </section>
        <hr>
    </div>