<h1>Bosquejo TP final ARG PROG 💻</h1>
    <div class="container">
       <header class="row">
    <div class="col-9 border"><img class="col-2" src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1659143423/APLogo-20-20.png" /></div>
    <button class="col-3 border btn btn-danger">sección de login</button>

            <img class="border img-fluid" style="padding: 0%;" src="https://ucscextension-live-28cd95cf77884d15bb06-01c17c1.divio-media.net/images/relational-database-design-a.2e16d0ba.fill-2400x858-c100.jpg">
       
           </header> 
    
    </div>

