<h1 style="text-align: center;">TP final ARG PROG 💻</h1>
    <div class="container">
       <header class="row">
    <div class="col-9 border"><img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1666227203/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png" /></div>
    <button class="col-3 border btn btn-danger" *ngIf="!isLogged" (click)="login()">Sección de login</button>
    <button class="col-3 border btn btn-danger" *ngIf="isLogged" (click)="onLogOut()">Cerrar Sesión</button>


            <img class="border img-fluid" style="padding: 0%;" src="https://ucscextension-live-28cd95cf77884d15bb06-01c17c1.divio-media.net/images/relational-database-design-a.2e16d0ba.fill-2400x858-c100.jpg">
       
           </header> 
    
    </div>

