<div class="container">
<section>
    <h6>Experiencias
        <a style="color: #D2D7D5;" class="btn" data-placement="top" data-origina-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
        
        <a style="color: #D2D7D5;" class="btn" data-placement="top" data-origina-title="Add"><i class="fa-regular fa-square-plus"></i></a>
    </h6> 

<div class="row">
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
</div>

<hr>

<h6>Educación 
    <a style="color: #D2D7D5;" class="btn" data-placement="top" data-origina-title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
        
    <a style="color: #D2D7D5;" class="btn" data-placement="top" data-origina-title="Add"><i class="fa-regular fa-square-plus"></i></a>
</h6> 

<div class="row">
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
</div>

<hr>
</section>

</div>