<div class="container">
<section>
    <h6>Experiencia aquí podría </h6> 
<div class="row">
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
</div>

<hr>

<h6>Educación aquí </h6> 
<div class="row">
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
    <div class="col-6 border">foto</div>
    <div class="col-6 border">texto</div>
</div>

<hr>
</section>

</div>