<div class="container">
<section>
    <div class="row">
        <div class="col-6 border"><h6>Proyectos</h6></div>
        <p class="col-12 border">La mayoría de estos proyectos se han realizado este año en diferentes cursos de programación:</p></div>
        
        <div class="col-4 border">Título 1</div>
        <p class="col-12 border">paragthap</p>
        <button class="btn btn-success">Ir al GitHub</button><br><br>
            <div class="col-4 border">Título 1</div>
            <p class="col-12 border">paragthap</p>
            <button class="btn btn-success">Ir al GitHub</button><br><br>
            <div class="col-4 border">Título 1</div>
            <p class="col-12 border">paragthap</p>
            <button class="btn btn-success">Ir al GitHub</button><br><br>
            <div class="col-4 border">Título 1</div>
            <p class="col-12 border">paragthap</p>
            <button class="btn btn-success">Ir al webarchive</button>
                
    </section>
</div>